
.entrant_odds_wpr {
    width: 100%;
    background-color: brown;

    display: flex;
    flex-direction: row;
}

.price_wpr {
    flex: 1;
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}